body {
  margin: 0;
  padding: 0;
  background-image: url("images/cosmos.jpg");
  background-size: cover;
}

#earth {
  position: relative;
  padding: 100px;
  z-index: 1;
}

#moon {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 0;
  width: 110px;
  animation: orbita 5s linear infinite;
}

@keyframes orbita {
  0% {
    top: 250px;
    left: 250px;
    width: 110px;
    z-index: 0;
    transform: rotate(0deg);
  }
  25% {
    top: 150px;
    left: 550px;
    width: 125px;
    z-index: 2;
  }
  50% {
    top: 280px;
    left: 280px;
    width: 140px;
    z-index: 2;
  }
  75% {
    top: 500px;
    left: 20px;
    width: 125px;
    z-index: 0;
  }
  100% {
    top: 250px;
    left: 250px;
    width: 110px;
    z-index: 0;
    transform: rotate(360deg);
  }
}
